
@import url("../css/variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 19%,
    rgba(216, 216, 216, 1) 74%,
    rgba(155, 154, 154, 1) 100%
  );
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

.navbar {
  padding: 0.5em 1em;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 12em;
  max-width: 100%;
  height: auto;
}


/* Garante que os itens do navbar possam quebrar linha em telas pequenas */
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em; /* espaçamento entre links */
}

/* Links e dropdowns */
.navbar-nav .nav-link {
  padding: 0.5em 1em;
  white-space: nowrap; /* evita quebra no texto do link */
}

/* Dropdowns */
.dropdown-menu {
  min-width: 12em; /* garante largura mínima */
}


.title-home {
  background-color: #a09a9a;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  background: rgb(216, 216, 216);
  background: radial-gradient(
    circle,
    rgb(69, 68, 68) 5%,
    rgb(155, 154, 154) 100%
  );
  color: var(--white);
  margin: 0;
}

#home {
  min-height: 82vh;
  padding: 2rem;
  position: relative;
  background: url("../img/homepage-bg.jpg") center/cover no-repeat;
  z-index: 0;
}

#home:before {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

#home .home-container {
  max-width: 1000px;
  width: 90%;
  color: var(--white);
  z-index: 1;
  position: relative;
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-container:before {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
  border-radius: 0.5rem;
  filter: blur(5px);
}

.home-container h3 {
  font-weight: bold;
  font-size: 2rem;
}

.home-container p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.btn-control {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.home-container .btn {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  transition: all 0.4s;
  font-weight: bold;
}

.home-container .btn:hover {
  background-color: #000;
  color: var(--white);
  transform: scale(1.05);
  border: 1px solid var(--green-secondary);
}

section#links {
  padding: 2rem;
  margin: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: var(--background-color);
  position: relative;
  z-index: 1;
}

section#links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../img/section-links-bg.jpg")center/cover fixed no-repeat;
}

section#links::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.4);
}

#links .title {
  color: var(--white);
  text-align: center;
  margin-bottom: 2rem;
  z-index: 1;
}

section#links a {
  color: var(--green-secondary);
  text-decoration: none;
  font-weight: bold;
}

.cards-container, #links .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#links .card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 250px;
  height: 130px;
  transition: all 0.4s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 1rem;
}

#links .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#links .card:hover::before {
  background-color: var(--background-color);
  animation: animar 0.4s;
}

#links .card:hover {
  transform: scale(1.05);
  background-color: var(--background-color);
  color: var(--white);
  border: 1px solid var(--green-secondary);
}

#links .card a {
  text-decoration: none;
  font-weight: bold;
}

.card-uniform {
        height: 200px; /* ajuste conforme desejar */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
      }

/* BOTÃO VOLTAR AO TOPO */
.top, #back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

#back-to-top {
  background-color: var(--green-color);
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
}

#back-to-top.active {
  display: flex;
  font-size: 2.2rem;
}

#back-to-top:hover {
  background-color: var(--green-color);
  color: var(--background-color);
}

/* ANIMAÇÃO */
@keyframes animar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* RESPONSIVIDADE */
@media (max-width: 890px) {
  #home .home-container { width: 90%; }
  .home-container .btn { padding: 0.5rem 2rem; }
  section#links { margin: 1rem; }
}

@media (max-width: 650px) {
  body {
    background: linear-gradient(
      90deg,
      rgba(255,255,255,1) 40%,
      rgba(216,216,216,1) 74%,
      rgba(155,154,154,1) 100%
    );
  }

  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #home .home-container {
    height: auto;
    padding: 1.5rem;
  }

  .home-container h3 { font-size: 1.5rem; }
  .home-container p { font-size: 1rem; line-height: 1.5rem; margin: 1rem 0; }
  .home-container .btn-control { flex-direction: column; gap: 1rem; }
  .home-container .btn { padding: 0.5rem; }

  section#links { margin: 1rem; }
}
